.cart__btn, .header__menu, .header__cart {
  display: inline-block;
  cursor: pointer;
}

.banner, .header {
  width: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 0.94rem;
  font-weight: 300;
  color: #999;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  margin: 0;
}

img {
  width: 6.25rem;
}

.header {
  padding: 1.25rem 3.13rem;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu, .header__cart {
  width: 2.19rem;
}
.header__menu img, .header__cart img {
  width: 100%;
}
@media screen and (max-width: 51.25rem) {
  .header {
    padding: 0.94rem;
  }
  .header__logo {
    width: 3.75rem;
  }
  .header__menu, .header__cart {
    width: 1.88rem;
  }
}

.banner {
  padding: 3.75rem 0;
  text-align: center;
  background: url("../img/placeholder-banner.webp") no-repeat center 60%;
  background-size: cover;
  color: #fff;
}
.banner__title {
  width: 100%;
  font-weight: 600;
  font-size: 1.88rem;
  margin: 0.63rem;
}
.banner__frase {
  width: 100%;
  margin: 0 auto;
  font-size: 1.56rem;
  opacity: 0.7;
}
@media screen and (max-width: 30rem) {
  .banner {
    padding: 1.88rem 0;
  }
  .banner__title {
    font-size: 1.13rem;
  }
  .banner__frase {
    font-size: 1rem;
  }
}

.products {
  width: 80%;
  margin: 0 auto;
  padding: 1.25rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.63rem, 1fr));
}
.products__item {
  cursor: pointer;
  text-align: center;
}
.products__img {
  width: 12.5rem;
  margin-bottom: 0.94rem;
}
.products__name {
  font-weight: 500;
  font-size: 1.17em;
  margin-bottom: 0.31rem;
}
.products__price {
  font-weight: 300;
  font-size: 0.94rem;
  cursor: pointer;
}
@media screen and (max-width: 51.25rem) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  }
}
@media screen and (max-width: 30rem) {
  .products {
    grid-template-columns: 1fr;
    padding: 0.63rem;
  }
  .products__img {
    width: 100%;
    max-width: 12.5rem;
    margin-bottom: 0.63rem;
  }
  .products__name, .products__price {
    padding: 0 0.63rem;
  }
}

.cart {
  width: 31.25rem;
  background-color: #fff;
  padding: 1.56rem;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  right: 0;
  top: 6.25rem;
  box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.25);
}
.cart__title {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 0;
  box-sizing: border-box;
}
.cart__article {
  border-bottom: 0.06rem solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.94rem;
  box-sizing: border-box;
}
.cart__img {
  width: 3.75rem;
}
.cart__price {
  font-weight: 500;
}
.cart__btn {
  width: 1.56rem;
}
.cart__btn img {
  width: 100%;
}
@media screen and (max-width: 51.25rem) {
  .cart {
    width: 25rem;
    top: 5rem;
  }
}
@media screen and (max-width: 30rem) {
  .cart {
    width: 100%;
    box-shadow: none;
  }
  .cart__title {
    padding: 0.94rem 0;
  }
  .cart__article {
    flex-direction: column;
    align-items: center;
  }
  .cart__img {
    width: 6.24rem;
  }
  .cart__price {
    margin: 0;
  }
}/*# sourceMappingURL=styles.css.map */