$colorPrimario: #333;
$colorTexto: #999;
$font-family: "Lexend", Arial, Helvetica, sans-serif;

@mixin flex-center($justify: space-between, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin box-sizing {
    box-sizing: border-box;
}

@mixin laptops {
    @media screen and (max-width: 51.25rem) { @content };
}

@mixin tabletas {
    @media screen and (max-width: 37.50rem) { @content };
}

@mixin phones {
    @media screen and (max-width: 30.00rem) { @content };
}

%button {
    display: inline-block;
    cursor: pointer;
}

%container {
    width: 100%;
    @include box-sizing;
}

body {
    width: 100%;
    font-size: 0.94rem;
    font-weight: 300;
    color: $colorTexto;
    font-family: $font-family;
    margin: 0;
}

img {
    width: 6.25rem;
}

.header {
    @extend %container;
    padding: 1.25rem 3.13rem;
    background-color: $colorPrimario;
    @include flex-center;

    &__menu,
    &__cart {
        width: 2.19rem;
        @extend %button;
    }

    &__menu img,
    &__cart img {
        width: 100%;
    }

    @include laptops {
        padding: 0.94rem;

        &__logo {
            width: 3.75rem;
        }

        &__menu,
        &__cart {
            width: 1.88rem;
        }
    }
}

.banner {
    @extend %container;
    padding: 3.75rem 0;
    text-align: center;
    background: url("../img/placeholder-banner.webp") no-repeat center 60%;
    background-size: cover;
    color: #fff;

    &__title {
        width: 100%;
        font-weight: 600;
        font-size: 1.88rem;
        margin: 0.63rem;
    }

    &__frase {
        width: 100%;
        margin: 0 auto;
        font-size: 1.56rem;
        opacity: 0.7;
    }

    @include phones {
        padding: 1.88rem 0;

        &__title {
            font-size: 1.13rem;
        }

        &__frase {
            font-size: 1.00rem;
        }
    }
}

.products {
    width: 80%;
    margin: 0 auto;
    padding: 1.25rem;
    @include box-sizing;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.63rem, 1fr));

    &__item {
        cursor: pointer;
        text-align: center;
    }

    &__img {
        width: 12.50rem;
        margin-bottom: 0.94rem;
    }

    &__name {
        font-weight: 500;
        font-size: 1.17em;
        margin-bottom: 0.31rem;
    }

    &__price {
        font-weight: 300;
        font-size: 0.94rem;
        cursor: pointer;
    }

    @include laptops {
        grid-template-columns: repeat(auto-fit, minmax(12.50rem, 1fr));
    }

    @include phones {
        grid-template-columns: 1fr;
        padding: 0.63rem;

        &__img {
            width: 100%;
            max-width: 12.50rem;
            margin-bottom: 0.63rem;
        }

        &__name,
        &__price {
            padding: 0 0.63rem;
        }
    }
}

.cart {
    width: 31.25rem;
    background-color: #fff;
    padding: 1.56rem;
    @include box-sizing;
    height: 100%;
    position: fixed;
    right: 0;
    top: 6.25rem;
    box-shadow: -0.50rem 0 1.00rem rgba(0, 0, 0, 0.25);

    &__title {
        width: 100%;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 600;
        padding: 1.25rem 0;
        @include box-sizing;
    }

    &__article {
        border-bottom: 0.06rem solid $colorPrimario;
        @include flex-center;
        padding: 0.94rem;
        @include box-sizing;
    }

    &__img {
        width: 3.75rem;
    }

    &__price {
        font-weight: 500;
    }

    &__btn {
        width: 1.56rem;
        @extend %button;

        img {
            width: 100%;
        }
    }

    @include laptops {
        width: 25.00rem;
        top: 5.00rem;
    }

    @include phones {
        width: 100%;
        box-shadow: none;

        &__title {
            padding: 0.94rem 0;
        }

        &__article {
            flex-direction: column;
            align-items: center;
        }

        &__img {
            width: 6.25rem;
        }

        &__price {
            margin: 0;
        }
    }
}
